@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.body {
    font-family: 'Inter', sans-serif;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(../images/bg.jpg);
    padding: 9px 150px 0px;
    display: flex;
    background-repeat: no-repeat;
}

.upheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header_logo {
    width: 148px;
    height: 95px;
}

.navbar {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 450;
    font-style: normal;

}

.navbar_item {
    margin-left: 30px;
    color: #fff;
}

.a {
    text-decoration: none;
    color: #fff;
    padding: 3px 15px;
}

.active {
    color: #ebc300;
    background: #000;
    border-radius: 10px;
    padding: 3px 15px;
}

.navbar_item :hover {
    background: #000;
    border-radius: 10px;
    padding: 3px 15px;
    transition-duration: 0.7s;
}

.subheader_text {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-bottom: 40px;
}


.middleblock {
    width: 900;
    height: 200px;
    background-color: #000;
    border-radius: 30px;
    margin-bottom: -100px;
    padding: 25px 90px;
    display: flex;
    justify-content: space-between;
}

.mbutton {
    background: #ebc300;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    text-align: center;
    padding: 17px 0 11px;
}

.icon {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.button_txt {
    font-weight: 600;
    font-size: 16px;
    line-height: 7px;
    font-style: normal;
}

.button_link {
    text-decoration: none;
    color: #000;
}

.stwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.txtsection {
    padding: 0 150px;
    margin-top: 215px;
    background-color: #fff;
}

.stpart {
    width: 530px;
    margin-bottom: 50px;
}

.stpart_title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.stpart_maintext {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.firstimg {
    height: 510px;
}

.secondimg {
    height: 550px;
}

.ndwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 991.98px) {
    .header {
        padding: 7px 125px 0px;
    }

    .upheader {
        margin-bottom: 40px;
    }

    .navbar {
        font-size: 16px;
        font-weight: 500;
    }


    .header_logo {
        width: 123px;
        height: 79px;
    }

    .navbar_item {
        margin-left: 25px;
    }

    .subheader_text {
        font-size: 34px;
        margin-bottom: 34px;
    }

    .middleblock {
        padding: 25px 60px;
    }

    .txtsection {
        padding: 0 125px;
        margin-top: 180px;
    }

    .stpart {
        width: 440px;
        margin-bottom: 40px;
    }

    .stpart_title {
        font-size: 34px;
        margin-bottom: 17px;
    }

    .stpart_maintext {
        font-size: 17px;
    }

    .firstimg {
        height: 405px;
    }

    .secondimg {
        height: 400px;
    }

    .row {
        padding: 0;
    }
}

@media (max-width: 767.98px) {
    .header {
        padding: 7px 70px 0px;
    }

    .upheader {
        margin-bottom: 32px;
    }

    .navbar {
        font-size: 14px;
        font-weight: 500;
    }

    .active {
        border-radius: 7px;
        padding: 2px 10px;
    }

    .a {
        padding: 2px 10px;
    }

    .navbar_item {
        margin-left: 10px;
    }

    .subheader_text {
        font-size: 28px;
        margin-bottom: 28px;
        font-weight: 600;
    }

    .middleblock {
        padding: 20px 35px;
        height: 150px;
        margin-bottom: -75px;
        border-radius: 25px;
    }

    .mbutton {
        width: 110px;
        height: 110px;
        border-radius: 15px;
        padding: 13px 0 8px;
    }

    .icon {
        width: 55px;
        height: 55px;
    }

    .button_txt {
        font-size: 12px;
        line-height: 6px;
        font-weight: 600;
    }

    .txtsection {
        padding: 0 100px;
        margin-top: 125px;
    }

    .stpart {
        width: 300px;
        margin-bottom: 30px;
    }

    .stpart_title {
        font-size: 26px;
    }

    .stpart_maintext {
        font-size: 14px;
    }

    .firstimg {
        height: 350px;
    }

    .secondimg {
        height: 350px;
    }

    @media (max-width: 575.98px) {
        .header {
            padding: 5px 30px 0px;
        }

        .upheader {
            margin-bottom: 20px;
        }

        .navbar {
            font-size: 13px;
            font-weight: 500;
            margin-top: 10px;
        }

        .navbar_item {
            margin-left: 5px;
        }

        .a {
            padding: 2.5px 7px;
        }

        .header_logo {
            width: 115px;
            height: 70px;
        }

        .active {
            border-radius: 5px;
            padding: 2.5px 7px;
        }

        .subheader_text {
            font-size: 20px;
            margin-bottom: 24px;
            font-weight: 600;
        }

        .middleblock {
            padding: 20px 35px;
            width: 492px;

        }

        .txtsection {
            padding: 0 30px;
            margin-top: 120px;
        }

        .stpart {
            width: 270px;
            margin-bottom: 30px;
        }




    }




}

